<form id="productForm" method="post">
    <label>Title</label>
    <input class="form-control" type="text" name="title" id="title" placeholder="Type a title here"/>
    <label>Price</label>
    <input class="form-control" type="number" name="price" id="price" placeholder="Type a price here"/>
    <label>Thumbnail URL</label>
    <input class="form-control" type="url" name="thumbnail" id="thumbnail" placeholder="Paste your URL here"/>
    <button type="submit" class="btn btn-info my-3">Add</button>
</form>